@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
/* sora end */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Sora&display=swap");
/* maven pro end */

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Maven+Pro:wght@500&family=Sora&display=swap");

/* hoind siliguri */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --sora: "Sora", sans-serif;
  --text-color: #ffffff;
  --maven-pro: "maven pro", sans-serif;
  --header-color: #2da7df;
  --btn-background: #ff8960;
  --black: black;
  --footer-color: #3f4f7e;
  --my-h-font-size: 1.8rem;
  --my-font-size: 1.2rem;
  --hind-siliguri: "Hind Siliguri";
}

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: black;
  opacity: 0.5; */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
} /* ---- stats.js ---- */
.count-particles {
  background: #080530;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

/* spiterman end */
.hero {
  height: 100vh;
  background-image: url("./image/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--sora);
  z-index: 9999;
  transition: 0.5s;
}

nav.navactive {
  background-color: rgba(0, 0, 0, 0.7);
}

.navcontainer {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 90px;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: all 0.5s;
  font-size: 1rem;
}

nav ul li a:not(.navbar-btn a):hover {
  color: var(--header-color);
}

.navbar-btn {
  background-color: #2da7df;
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 30px rgba(45, 167, 223, 0.8);
  font-size: 1.1em;
  transition: 0.5s;
}

.navbar-btn:hover {
  background-color: var(--black);
}

nav .close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

nav .open {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1250px) {
  nav ul li {
    padding: 0 15px;
    margin: 0;
  }

  nav ul li a {
    font-size: 1em;
  }
}

@media screen and (max-width: 1085px) {
  nav ul {
    position: fixed;
    top: 0;
    right: -250px;
    display: block;
    padding-top: 40px;
    width: 250px;
    height: 100%;
    background-color: var(--btn-background);
    transition: 0.5s;
  }

  nav ul li {
    margin: 0px;
    padding: 20px;
    transition: all 0.3s;
  }

  nav ul li:hover {
    background-color: var(--header-color);
  }

  nav ul li:nth-child(1) {
    margin-top: 0;
  }

  nav ul li a {
    font-size: 1.1em;
  }

  nav ul li a:hover {
    color: var(--text-color) !important;
  }

  .navbar-btn {
    display: inline-block;
    background-color: #f36839;
    box-shadow: 0px 0px 10px white;
    transition: 0.5s;
    margin: 20px 0 0 20px;
  }

  nav .close {
    display: block;
  }

  nav .open {
    display: block;
  }
}
/* navber end */

.nav-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.nav-content h2 {
  font-family: var(--maven-pro);
  color: var(--text-color);
  font-size: 2rem;
  padding-bottom: 18px;
  font-weight: 600;
  z-index: 2;
}

.nav-content h1 {
  font-family: var(--maven-pro);
  color: var(--text-color);
  font-size: 4rem;
  padding-bottom: 22px;
  font-weight: 500;
}

.nav-content p {
  font-family: var(--sora);
  font-size: 14px;
  color: var(--text-color);
  line-height: 23px;
  padding-bottom: 40px;
}

.hero-btn a {
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid var(--header-color);
  border-radius: 30px;
  position: absolute;
  top: 70%;
  left: 50%;
  color: var(--text-color);
  transform: translate(-50%, -50%);
  z-index: 999;
  display: inline-block;
  font-size: 1.2rem;
  box-shadow: 2px 2px 30px rgba(45, 167, 223, 0.8);
  transition: 0.5s;
  font-family: var(--sora);
  background-color: var(--header-color);
}

.hero-btn a:hover {
  background-color: var(--black);
  border: 2px solid var(--black);
}

.nav-content p a:hover {
  background-color: var(--header-color);
}

@media screen and (max-width: 700px) {
  .nav-content {
    text-align: center;
    width: 100%;
  }

  .nav-content h2 {
    font-family: var(--maven-pro);
    color: var(--text-color);
    font-size: 1.5rem;
    padding-bottom: 18px;
    font-weight: 600;
  }

  .nav-content h1 {
    font-family: var(--maven-pro);
    color: var(--text-color);
    font-size: 1.9rem;
    padding-bottom: 22px;
    font-weight: 600;
  }
}

/* navber end */

.about-our-company {
  margin-top: 100px;
}

.about-our {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: auto;
  grid-gap: 10px;
}

.about-content h3 {
  line-height: 3rem;
  font-family: var(--maven-pro);
  color: var(--header-color);
  font-size: var(--my-h-font-size);
  padding-bottom: 10px;
}

.about-content h2 {
  font-family: var(--maven-pro);
  padding-bottom: 10px;
  font-size: 1.7rem;
}

.about-content p {
  padding-top: 21px;
  font-family: var(--sora);
  color: #3f4f7e;
  font-size: 14px;
  padding-bottom: 20px;
}

.about-content a {
  text-decoration: none;
  line-height: 5rem;
  padding: 10px 30px;
  color: var(--black);
  font-family: var(--maven-pro);
  background-color: var(--text-color);
  border: 2px solid var(--btn-background);
  border-radius: 30px;
  box-shadow: 0px 0px 10px #ff8960;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s;
}

.about-content a:hover {
  background-color: var(--btn-background);
  color: var(--text-color);
}

.about-img img {
  width: 70%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .about-our {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    justify-content: center;
    grid-gap: 20px;
  }

  .about-img img {
    width: 70%;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  .about-our {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    margin: auto;
    justify-content: center;
    text-align: center;
    grid-gap: 20px;
  }

  .about-img img {
    width: 70%;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .about-our {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
    grid-gap: 20px;
  }

  .about-img img {
    width: 70%;
    display: block;
    margin: auto;
  }

  .about-content h3 {
    line-height: 3rem;
    font-family: var(--maven-pro);
    color: var(--header-color);
    font-size: 1.4rem;
  }

  .about-content h2 {
    font-family: var(--maven-pro);
    padding-bottom: 10px;
    font-size: 1.4rem;
  }
}

/* our company end */
.our-service {
  margin-top: 100px;
}

.our-service header {
  text-align: center;
  font-family: var(--maven-pro);
}

.our-service header h2 {
  color: var(--header-color);
  line-height: 3rem;
  font-size: var(--my-h-font-size);
  padding-bottom: 10px;
}

.our-service header h3 {
  line-height: 2rem;
  font-size: 1.7rem;
  padding-bottom: 10px;
}

.our-services-container {
  width: 65%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 40px;
  grid-gap: 30px;
}

.service-card {
  text-align: center;
  border: 1px solid var(--header-color);
  border-radius: 5px;
  padding: 40px 0;
  position: relative;
}

.service-card:hover {
  box-shadow: 5px 5px 19px #e7e7e7, 5px 5px 19px #e7e7e7;
  border: none;
}

.service-card:hover::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  top: -5px;
  left: -5px;
  border-top: 6px solid var(--header-color);
  border-left: 6px solid var(--header-color);
  border-radius: 7px;
}

.service-card:hover::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: -5px;
  right: -5px;
  border-bottom: 6px solid var(--header-color);
  border-right: 6px solid var(--header-color);
  border-radius: 7px;
}

.service-card img {
  width: 15%;
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

.service-card h3 {
  padding-bottom: 10px;
  font-family: var(--maven-pro);
  font-size: var(--my-font-size);
}

.service-card p {
  color: var(--btn-background);
  font-family: var(--sora);
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .our-services-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
    grid-gap: 20px;
  }
}

/* our services end */
.ftv-server {
  margin-top: 100px;
}

.ftv-server header {
  text-align: center;
  font-family: var(--maven-pro);
}

.ftv-server header h2 {
  color: var(--header-color);
  line-height: 3rem;
  font-size: var(--my-h-font-size);
  padding-bottom: 10px;
}

.ftv-server header h3 {
  line-height: 2rem;
  font-size: 1.7rem;
  padding-bottom: 10px;
}

.ftv-server-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  padding-top: 40px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.server-card {
  text-align: center;
  border-radius: 5px;
  padding: 20px 0;
}

.ftv-logo {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ftv-logo img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.server-card h4 {
  font-family: var(--maven-pro);
  padding-top: 20px;
  font-size: var(--my-font-size);
}

.server-card:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 11px 11px 22px #e8e8e8, -11px -11px 22px #ffffff;
}

@media screen and (max-width: 600px) {
  .ftv-server-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
    grid-gap: 20px;
  }

  .ftv-server header h3 {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}

/* our server end */

.iptv-links {
  margin-top: 100px;
  width: 100%;
  background-image: url("./image/iptv-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.iptv-header {
  text-align: center;
  line-height: 4rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--maven-pro);
  color: var(--text-color);
  font-size: var(--my-h-font-size);
}

.iptv-header .divider {
  width: 90px;
  height: 3px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 137, 96, 0.8) -2.25%,
    rgba(45, 167, 223, 0.8) 102.81%
  );
  margin: auto;
  border-radius: 5px;
}

.iptv-link-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.iptv-card {
  background-color: var(--text-color);
  padding: 40px 10px;
  text-align: center;
  border-radius: 4px;
  font-family: var(--maven-pro);
}

.iptv-card h4 {
  padding-bottom: 30px;
  font-size: var(--my-font-size);
}

.iptv-logo {
  width: 100%;
  height: 90px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iptv-logo a img {
  width: 100%;
  height: 70px;
}

.iptv-card p a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--btn-background);
  border-radius: 20px;
  color: var(--btn-background);
  transition: 0.5s;
  font-size: 15px;
  font-family: var(--sora);
}

.iptv-card p a:hover {
  background-color: var(--btn-background);
  color: var(--text-color);
  border: none;
}

@media screen and (max-width: 600px) {
  .iptv-link-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* iptv links sectin end */

.iptv-apps {
  margin-top: 100px;
}

.iptv-apps-conatiner {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.iptv-apps-card:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 11px 11px 22px #e8e8e8, -11px -11px 22px #ffffff;
}

.iptv-header h4 {
  color: var(--header-color);
  font-family: var(--maven-pro);
}

@media screen and (max-width: 600px) {
  .iptv-apps-conatiner {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

/* iptv apps end */
.pricing {
  margin-top: 10px;
}

.pricing-container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

.pricing-content {
  width: 330px;
  margin: auto;
  font-family: var(--maven-pro);
  line-height: 2rem;
  padding-bottom: 20px;
  font-size: 17px;
}

.pricing-content h4:last-child {
  color: var(--btn-background);
  text-align: end;
}

.pricing-logo {
  padding-bottom: 10px;
  line-height: 3rem;
}

.pricing-logo a {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  background-color: #ffc5b0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  transition: all 0.6s;
}

.pricing-logo h1 span {
  background-image: linear-gradient(90deg, white, white);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-background-clip: text;
  color: var(--btn-background);
  font-size: 2.1rem;
}

.pricing-card {
  background-color: var(--btn-background);
  transition: all 0.6s;
  background-image: url("./image/jakha-naka.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 30%;
  text-align: center;
  padding: 50px 0;
  font-family: var(--sora);
  font-size: 14px;
  border-radius: 9px;
  color: var(--text-color);
}

.pricing-card-content i {
  padding-right: 5px;
  font-size: 10px;
}

.pricing-card-content {
  width: 75%;
  margin: auto;
  text-align: left;
  padding-left: 10px;
  line-height: 2.3rem;
}

.pricing-card-btn span {
  font-family: var(--maven-pro);
  font-size: 25px;
  font-weight: 800;
}

.pricing-card-btn sup {
  font-family: var(--maven-pro);
  font-size: 20px;
  font-weight: bold;
}

.pricing-card-btn {
  padding-bottom: 30px;
}

.pricing-card p a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  color: var(--text-color);
  transition: 0.5s;
  background-color: var(--btn-background);
}

.pricing-card:hover p a {
  border: none;
}

.pricing-card:hover {
  background-color: var(--black);
  background-image: url("./image/black-jaka.png");
  background-position: right top;
}

.pricing-card:hover .prising-logo a {
  color: var(--text-color);
  background-color: var(--btn-background);
}

.pricing-card:hover .prising-logo h1 span {
  background-image: linear-gradient(90deg, white, white);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-background-clip: text;
  color: var(--black);
  font-size: 2.1rem;
}

/* @media screen and (max-width: 900px) {
  .prising-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
} */

@media screen and (max-width: 700px) {
  .pricing-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 20px;
  }
}

/* @media screen and (max-width: 600px) {
  .prising-container {
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }

  .prising-card {
    background-color: var(--btn-background);
    transition: all 0.8s;
    background-image: url("./image/jakha-naka.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
    text-align: center;
    padding: 19px 0;
    font-family: var(--sora);
    font-size: 10px;
    border-radius: 9px;
    color: var(--text-color);
  }

  .prising-card p a {
    text-decoration: none;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    color: var(--text-color);
    transition: 0.5s;
    background-color: var(--btn-background);
    font-family: var(--sora);
  }

  .prising-card-btn span {
    font-family: var(--maven-pro);
    font-size: 20px;
    font-weight: 700;
  }

  .prising-card-btn sup {
    font-family: var(--maven-pro);
    font-size: 18px;
    font-weight: bold;
  }

  .prising-logo {
    padding-bottom: 10px;
    line-height: 1rem;
  }

  .prising-card-content {
    width: 75%;
    margin: auto;
    text-align: left;
    padding-left: 6px;
    line-height: 1.3rem;
  }

  .prising-logo h1 span {
    background-image: linear-gradient(90deg, white, white);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--btn-background);
    font-size: 1.5rem;
  }
} */

/* prising section end */
.bkash {
  margin-top: 50px;
}

.bikash-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./image/bikas-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
}

.bikas-content {
  text-align: center;
  line-height: 2rem;
  font-family: var(--hind-siliguri);
}

.bikas-content h1 {
  line-height: 3rem;
  font-size: var(--my-h-font-size);
}

.bkash-btn {
  padding-top: 60px;
}

.bkash-btn a {
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid var(--btn-background);
  border-radius: 30px;
  color: var(--text-color);
  box-shadow: 0px 0px 30px #ff8960;
  transition: 0.5s;
  font-size: 16px;
}

.bkash-btn a:hover {
  background-color: var(--btn-background);
}

@media screen and (max-width: 600px) {
  .bikash-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--maven-pro);
    background-image: url("./image/bikas-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
  }

  .bikas-content h1 {
    font-size: 15px;
    line-height: 2rem;
  }
}
/* bkash section end */
.location {
  background-image: linear-gradient(to left, #080530, #2da3df);
}

.location-conatiner {
  text-align: center;
  padding: 30px 0;
}

.location-conatiner h1 {
  padding-bottom: 30px;
  color: var(--text-color);
  font-family: var(--maven-pro);
  font-size: var(--my-h-font-size);
}

.location-conatiner iframe {
  width: 70%;
  height: 50vh;
}

@media screen and (max-width: 600px) {
  .location-conatiner iframe {
    width: 90%;
    height: 50vh;
  }
}

/* our location section end */
.footer {
  margin-top: 20px;
}

.footer-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
  font-family: var(--sora);
}

.footer-card {
  line-height: 1.6rem;
  padding: 15px;
}

.footer-card img {
  width: 45%;
}

.footer-card p {
  font-size: 15px;
  color: var(--footer-color);
}
.footer-card h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--btn-background);
  font-size: 1rem;
}

.footer-card h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--header-color);
  font-size: 1.5rem;
}

.footer-card i {
  padding-bottom: 20px;
}

.footer-card a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  transition: all 0.2s;
}

.footer-card a:hover {
  color: var(--header-color);
}

.footer-mail-icon {
  margin-right: 10px;
}

.footer-mail-icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--header-color);
  border-radius: 50%;
  color: var(--text-color);
}

.social-icons {
  padding-top: 20px;
}

.social-icons a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: var(--black);
  border: 1px solid var(--header-color);
  transition: all 0.6s;
  font-size: 15px;
}

.social-icons a i:hover {
  background-color: var(--header-color);
  color: var(--text-color);
}

.useful-content a {
  line-height: 2.6rem;
  font-family: var(--maven-pro);
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.social-icons-contacts i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--header-color);
}

.social-icons-contacts a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.social-icons-contacts p {
  line-height: 3rem;
  color: var(--btn-background);
}

.social-icons-contacts .fa-whatsapp {
  background-color: green;
}

.hamid-road {
  width: 70%;
  margin: auto;
  font-size: 15px;
}

@media screen and (max-width: 750px) {
  .footer-container {
    width: 99%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    font-family: var(--sora);
  }

  .useful-content p a {
    line-height: 1.5rem;
    font-family: var(--maven-pro);
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 1rem;
  }

  .social-icons-contacts p {
    line-height: 2.3rem;
    color: var(--btn-background);
    font-size: 1rem;
  }

  .footer-card a {
    font-size: 14px;
  }

  .footer-card h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--header-color);
    font-size: 1.4rem;
  }
}
/* copy right start */

.copy-right {
  background-image: linear-gradient(to left, #2da3df, #080530);
}

.copy-right-container {
  width: 68%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-family: var(--sora);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5rem;
}

.copy-right-container ul {
  display: flex;
  align-items: center;
}

.copy-right-container ul li {
  list-style-type: none;
  margin: 0 5px;
}

.copy-right-container ul li i {
  font-size: 25px;
  color: var(--text-color);
  transition: all 0.6s;
}

.copy-right-container ul li i:hover {
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .copy-right-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-family: var(--sora);
    color: var(--text-color);
    font-size: 10px;
    line-height: 1.2rem;
  }

  .copy-right-container ul li i {
    font-size: 18px;
    color: var(--text-color);
    transition: all 0.6s;
  }

  .copy-right-container ul li {
    list-style-type: none;
    margin: 0 2px;
  }
}

/* buuton efect */
.hover a {
  --color: #560bad;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--header-color);
  transition: color 0.5s;
  z-index: 1;
  border-radius: 30px;
  font-weight: 500;
  color: var(--color);
}

.hover a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--header-color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
}

.hover a:hover {
  color: #fff;
  transform: scale(1.1);
  letter-spacing: 1.2px;
}

.hover a:before {
  top: 100%;
  left: 100%;
  transition: all 0.5s;
}

.hover a:hover:before {
  top: -30px;
  left: -30px;
}

.hover a:active:before {
  background: var(--header-color);
  transition: background 0s;
}
/* button efect end */

/* chat icon */

.chat-icon img {
  width: 100%;
  height: 100%;
}

.chat-icon {
  position: fixed;
  width: 60px;
  bottom: 20px;
  left: 20px;
  z-index: 9999 !important;
}
/* chat icon */

/* scroll thumb design */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--header-color);
  border-radius: 15px;
}

/* scroll thumb design */
